body {
    background-color: rgb(13, 0, 14);
}

.square1A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: 5em;
    margin-left: 2em;
}

.square2A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-left: 4em;
    margin-top: 5em;
}

.square3A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: 7em;
    margin-left: 2em;
}

.square4A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: -2em;
    margin-left: 14em;
}

.square5A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: -23em;
    margin-left: 16em;
}

.square6A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: -24em;
    margin-left: 14em;
}

.square7A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: -22em;
    margin-left: 16em;
}

.square8A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: 21.5em;
    margin-left: 28em;
}

.square9A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: -34em;
    margin-left: 29em;
}

.square10A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: .5em;
    margin-left: 30em;
}


.square11A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: -26em;
    margin-left: 44em;
}

.square12A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: 32em;
    margin-left: 32em;
}

.square13A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: -26em;
    margin-left: 42em;
}

.square14A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: 4em;
    margin-left: 45em;
}

.square15A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: -15em;
    margin-left: 58em;
}

.square16A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: -27em;
    margin-left: 70em;
}

.square17A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: -20em;
    margin-left: 75em;
}

.square18A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: 15em;
    margin-left: 75em;
}

.square19A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: -19em;
    margin-left: 60em;
}

.square20A {
    width: 150px;
    height: 150px;
    background-color: rgb(243, 10, 165);
    margin-top: -27em;
    margin-left: 65em;
}

.square1B {
    width: 150px;
    height: 150px;
    background-color: rgb(255, 119, 210);
    margin-top: 3em;
    margin-left: 42em;
}

