/*css: cascading stylesheet*/

@font-face {
    font-family: bennet-banner;
    src: url("https://use.typekit.net/yfw3hof.css");
  }
  
  body {
    background-color: #E1A4B9;
  }
  
  p {
    font-family: bennet-banner, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 70pt;
    line-height: 74pt;
    text-align: justify;
    color: #C8839D;
    filter: blur(8px);
    margin-left: 0.3em;
    margin-right: 0.315em;
  }

  p:hover {
    font-family: bennet-banner, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 70pt;
    line-height: 74pt;
    text-align: justify;
    color: #C8839D;
    filter: blur(2.5px);
    margin-left: 0.3em;
    margin-right: 0.315em;
  }

  h1 {
    position: relative;
    font-family: bennet-banner, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 96pt;
    text-align: left;
    color: #C8839D;
    filter: blur(2.5px);
    margin-left: 0.25em;
    margin-right: 0.15em;
  }

  h1:hover {
    position: relative;
    font-family: bennet-banner, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 96pt;
    text-align: left;
    color: #C8839D;
    filter: blur(0.5px);
    margin-left: 0.25em;
    margin-right: 0.15em;
  }